style.
    .content {
        display: flex;
        flex-direction: column;
    }
    .header {
        height: 64;
        background-color: #00a3ed;
        display: flex;
        flex-direction: column;
    }
    .nav {
        margin-top: 20;
        height: 44;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .menu-icon {
        height:24;
        width:24;
        margin-left:15;
        margin-top:2;
        margin-right: 10;
    }
    .title {
        color: #ffffff;
        font-size: 18;
        margin-left: 5;
    }
    .message-icon {
        height:26;
        width:26;
        margin-right: 10;
    }
    .more-icon {
        height:26;
        width:26;
        margin-right: 10;
    }
    .space {
        flex-grow: 1;
    }

    .slider {
        height: 230;
    }

    .test-div {
        display: flex;
    }
    .test-img{
        width: 100;
        height: 100;
    }
    .test-title {
        color: #000000;
    }

    .item-1 {
        height: 300;
        background-color: #ff0000;
    }
    .item-2 {
        height: 300;
        background-color: #00ff00;
    }
    .item-3 {
        height: 300;
        background-color: #0000ff;
    }
    .scroll-view {
        height: 500;
    }
    .li{
        height:50;
        background-color: #ff0000;
    }
    .red {
        background-color: #ff0000;
    }
    .yellow {
        background-color: #000ff0;
    }

.content
    .header
        .nav
            img.menu-icon(src="assets://ic_menu_white.png" @click="clickclick")
            .title 首页
            .space
            img.message-icon(src="assets://ic_message_white.png")
            img.more-icon(src="assets://ic_more_white.png")


    slider.slider(interval="3000" auto-play=true)
        img(src="assets://a.jpg")
        img(src="assets://a.jpg")
        img(src="assets://a.jpg")

    scrollView.scroll-view
        each item in stories
            .li
                .test-title #{item.title}