style.
    .content {
        display: flex;
        flex-direction: column;
    }
    .header {
        height: 64;
        background-color: #00a3ed;
        display: flex;
        flex-direction: column;
    }
    .nav {
        margin-top: 20;
        height: 44;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .left-item {
        height:20;
        width:20;
        margin-left:15;
    }
    .title {
        color: #ffffff;
        font-size: 18;
        margin-left: 5;
    }
    .right-item {
        height:20;
        width:20;
        margin-right: 20;
    }
    .space {
        flex-grow: 1;
    }

    .slider {
        height: 200;
    }

    .test-div {
        display: flex;
    }
    .test-img{
        width: 100;
        height: 100;
    }
    .test-title {
        color: #000000;
    }

.content
    //- .header
    //-     .nav
    //-         img.left-item(src="https://www.dpfile.com/ugc/shortvideo/floor2/shareIcon.png" @click="clickclick")
    //-         .title 首页
    //-         .space
    //-         img.right-item(src="https://www.dpfile.com/ugc/shortvideo/floor2/shareIcon.png")
    //-         img.right-item(src="https://www.dpfile.com/ugc/shortvideo/floor2/shareIcon.png")


    slider.slider(interval="3000" auto-play=true)
        div.test-div
            img.test-img(src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1516534694894&di=c6f029523e5d7bb35264a27034e39aa2&imgtype=0&src=http%3A%2F%2Fwww.hdwallpaperspulse.com%2Fwp-content%2Fuploads%2F2012%2F10%2Fkulawend_sanctuary-wallpaper-1080p-hd.jpg")
            .test-title page1
        div.test-div
            img.test-img(src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1516534694894&di=c6f029523e5d7bb35264a27034e39aa2&imgtype=0&src=http%3A%2F%2Fwww.hdwallpaperspulse.com%2Fwp-content%2Fuploads%2F2012%2F10%2Fkulawend_sanctuary-wallpaper-1080p-hd.jpg")
            .test-title page2
        div.test-div
            img.test-img(src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1516534694894&di=c6f029523e5d7bb35264a27034e39aa2&imgtype=0&src=http%3A%2F%2Fwww.hdwallpaperspulse.com%2Fwp-content%2Fuploads%2F2012%2F10%2Fkulawend_sanctuary-wallpaper-1080p-hd.jpg")
            .test-title page3

    //- list
    //-     row
    //-     row