style.
    .content {
        display: flex;
        flex-direction: column;
    }
    .header {
        height: 64;
        background-color: #00a3ed;
        display: flex;
        flex-direction: column;
    }
    .nav {
        margin-top: 20;
        height: 44;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .menu-icon {
        height:24;
        width:24;
        margin-left:15;
        margin-top:2;
        margin-right: 10;
    }
    .title {
        color: #ffffff;
        font-size: 18;
        margin-left: 5;
    }
    .message-icon {
        height:26;
        width:26;
        margin-right: 10;
    }
    .more-icon {
        height:26;
        width:26;
        margin-right: 10;
    }
    .space {
        flex-grow: 1;
    }

    .slider {
        height: 230;
    }
    .slider-img {
        display:flex;
        align-items: center;
    }
    .top-title {
        color: #ffffff;
        font-size: 20;
        width: 380;
        position: absolute;
        bottom:20;
    }
    .scroll-view {
        flex-grow:1;
        overflow:scroll;
        background-color:#000000;
    }
    .li{
        display:flex;
        flex-direction:row;
        margin-top:10;
        marigin-left:10;
        marign-right:10;
    }
    .left{
        width:60%;
        background-color: #ffff00;
        
    }
    .item-title {
        width: 100%;
    }
    .right{
        background-color: #ff0ff0;
        height:50%;
        flex-grow:1;
        
    }

    .parent {
        background-color: #ff0000;
        width: 200;
        height: 300;
    }
    .child-1 {
        width:100;
        height:100;
        background-color: #00ff00;
    }
    .child-2 {
        width: 100%;
        background-color: #0000ff;
        top:30;
        color:#ffffff;
    }

    .test-div{
        flex-grow:1;
        background-color: #f000ff;

    }

    
//- .parent
//-     .child-2 helloworldhelloworldhelloworldhelloworldhelloworldhelloworldhelloworldhelloworld

.header
    .nav
        img.menu-icon(src="assets://ic_menu_white.png" @click="jumpToDetail")
        .title 首页
        .space
        img.message-icon(src="assets://ic_message_white.png")
        img.more-icon(src="assets://ic_more_white.png")


slider.slider(interval="3000" auto-play=true)
    each item in topStories
        img.slider-img(src=item.image)
            .top-title #{item.title}

scrollView.scroll-view
    each item in stories
        .li
            .left
                .item-title #{item.title}
            .right
//- .test-div