style.
    .test{
        background-color:#FFFF00;
        flex-grow:1;
    }
    .slider{
        background-color:#FF00FF;
        height:300;
    }
    .title {
        color: #ff0000;
        font-size: 18;
        background-color: #00ff00;
        top: 20;
    }


.test(@click="clcik" id=1 + 2)
    .title(@click="clickclick") 首页21sjjjj

    .slider.slider(interval="3000" auto-play=true)
        each li,index in list || []
            img(src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1516534694894&di=c6f029523e5d7bb35264a27034e39aa2&imgtype=0&src=http%3A%2F%2Fwww.hdwallpaperspulse.com%2Fwp-content%2Fuploads%2F2012%2F10%2Fkulawend_sanctuary-wallpaper-1080p-hd.jpg")